* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

:root {
    --theme-color: #00a3ab;
    --theme-light: #a8dcdf;
    --theme-dark: #005255;
    --text-light: #eeeeee;
    --text-dark: #1f1f1f;
    --background-light: #f1f1f1;
}

html,
body {
    margin: 0;
    height: 120%;
    color: var(--text-dark);
}

img {
    width: 100%;
}

a {
    text-decoration: none;
}

svg {
    width: 32px;
    height: 32px;
    fill: var(--text-light);
}

.top-container {
    background-color: var(--background-light);
    padding: 30px;
    text-align: center;
}

.content {
    padding: 40px 10%;
    text-align: justify;
}

.content p {
    margin: 16px 0 0;
}


/* #region ANIMATED HEADER */

.main-header {
    position: sticky;
    top: 0;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height: 50vw;
    min-height: 400px;
    max-height: 550px;
    min-width: 300px;
    padding: 2% 2% 80px;
    color: var(--text-light);
}

.main-header:after {
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 1;
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.12) 40%, rgba(27, 32, 48, 1) 100%);
}

.main-header:before {
    content: "";
    width: 100%;
    height: 200%;
    position: absolute;
    top: 0;
    left: 0;
    -webkit-backface-visibility: hidden;
    -webkit-transform: translateZ(0);
    backface-visibility: hidden;
    scale: 1.0 1.0;
    transform: translateZ(0);
    background: #1B2030 url(https://images.unsplash.com/photo-1571993142257-eae0b44cf0f1?ixlib=rb-1.2.1&q=85&fm=jpg&crop=entropy&cs=srgb&ixid=eyJhcHBfaWQiOjE0NTg5fQ) 50% 0 no-repeat;
    background-size: 100%;
    background-attachment: fixed;
    animation: grow 180s ease-in-out 10ms infinite;
    transition: all 0.4s ease-in-out;
    z-index: 1;
}

.main-header a {
    color: #fff;
    font-weight: 700;
    transition: color 150ms;
}

.main-header a:hover {
    color: var(--theme-color);
}

.sides,
.info {
    flex: 0 0 auto;
    width: 50%;
    z-index: 2;
}

.info {
    text-align: center;
    text-shadow: 0 2px 3px rgba(0, 0, 0, 0.2)
}

.author {
    display: inline-block;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background: url(logo.png) center no-repeat;
    background-size: cover;
    box-shadow: 0 2px 3px rgba(0, 0, 0, 0.3);
    margin-bottom: 3px
}

.info h4,
.meta {
    font-size: 0.7em
}

.meta {
    font-style: italic;
}

.btns {
    position: relative;
    z-index: 2;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.btns .btn {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid var(--text-light);
    border-radius: 5px;
    padding: 0 20px;
    min-height: 60px;
    min-width: 100px;
    transition: border 150ms, color 150ms;
}

.btns .btn:hover {
    border: 2px solid var(--theme-color);
}

.btns .btn svg {
    transition: fill 150ms;
}

.btns .btn:hover svg {
    fill: var(--theme-color);
}

@keyframes grow {
    0% {
        transform: scale(1) translateY(0px);
    }
    50% {
        transform: scale(1.2) translateY(-400px);
    }
}


/* #endregion ANIMATED HEADER */